$font-txt: 'Georama', sans-serif;
$h1-size: 30px;
$header-bc: #34495e;
$txt-color-light: #ecf0f1;
$presentation-bc: #27ae60;
$competences-bc: #16a085;
$projets-bc: #2c3e50;
$contact-bc: #e67e22;
$card-bc: #95a5a6;
$color-html: rgb(255, 51, 54);
$color-css: rgb(0, 125, 183);
$color-sass: rgb(204, 102, 152);
$color-js: rgb(249, 155, 39);


@mixin h1-style{
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px
}

@mixin h2-style{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

@mixin p-style{
    font-size: 20px;
}

@mixin header($bc-color, $txt-color){
    width: 100%;
    height: 100px;
    background-color: $bc-color;
    color: $txt-color;
}

@mixin section-row ($bc-color, $txt-color) {
    width: 50%;
    height: 600px;
    background-color: $bc-color;
    color: $txt-color;
    padding: 20px;
}

@mixin section-column($bc-color, $txt-color) {
    height: 600px;
    background-color: $bc-color;
    color: $txt-color;
    padding: 20px;

}

@mixin footer($bc-color, $txt-color){
    width: 100%;
    height: 100px;
    background-color: $bc-color;
    color: $txt-color;
}

body{
    font-family: $font-txt;

    h1{
        @include h1-style();
    }

    h2{
        @include h2-style();
    }

    p{
        @include p-style();
    }

}

.header{
    @include header($header-bc, $txt-color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    .menu{
        display: flex;

        li{
            margin: 20px;
        }
    }
}

.banniere{
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
    z-index: -1;

    img{
        width: 100%;
        opacity: 0.7;
        position: fixed;
        object-fit: cover;
    }
}

.row{
    display: flex;

    .presentation{
        @include section-row($presentation-bc, $txt-color-light);
        display: flex;
        flex-direction: column;

        &__photo{
            width: 300px;
            height: 300px;
            overflow: hidden;
            border-radius: 300px;

            img{
                width: 300px;
                height: 300px;
            }
        }
    }

    .competences{
        @include section-row($competences-bc,$txt-color-light);

        &__bars{
            display: flex;
            flex-direction: column;
            align-items: center;

            .bar{
                display: flex;
                flex-direction: column;
                margin: 20px;

                &__title{
                    display: flex;
                    font-size: 20px;
                    margin: 10px;

                    i{
                        margin-right: 10px;
                    }

                    .logo-html{
                        color: $color-html;
                    }

                    .logo-css{
                        color: $color-css;
                    }

                    .logo-sass{
                        color: $color-sass;
                    }

                    .logo-js{
                        color: $color-js;
                    }
                }
            
                &__container{
                    width: 500px;
                    height: 12px;
                    border: 2px solid $txt-color-light;
                    border-radius: 10px;
                    padding: 3px;

                    &__inside{
                        height: 100%;
                        border-radius: 10px;
                    }

                    .html{
                        width: 80%;
                        background-color: $color-html
                    }

                    .css{
                        width: 75%;
                        background-color: $color-css;
                    }

                    .sass{
                        width: 75%;
                        background-color: $color-sass;
                    }

                    .js{
                        width: 50%;
                        background-color: $color-js;
                    }
                }
            }
        }
    }
}

.projets{
    @include section-column($projets-bc,$txt-color-light);

    &__cards{
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .card{
        width: 400px;
        height: 300px;
        background-color: $card-bc;
    }
}

.contact{
    @include section-column($contact-bc,$txt-color-light);
}

.footer{
    @include footer($header-bc, $txt-color-light);

    &__logos{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        &__logo{
            font-size: 40px;
            margin: 10px;
        }
    }
}

